@mixin colors {
    --app-background-color: #fff;
    --app-text-color: #ccc;
    --navigation-wrapper-background-color: #f7f7f7;
    --navigation-sub-title-color: #b1b1b1;
    --el-input__inner-border-color: #e3e3e3;
    --el-loading-color: #b5b5b5;
    --book-name-color: #33373d;
    --book-hover-background-color: rgba(0, 0, 0, 0.1);
    --book-subtitle-color: #6b6b6b;
    --book-wrapper-background-color-0: rgba(255, 255, 255, 0);
    --book-wrapper-background-color-1: rgba(255, 255, 255, 1);
    --last-chapter-color: #969ba3;
    --loading-background-color: #f7f7f7;
    --chapter-bar-breadcrumb-color: #606266;

    --popup-inner-shadow-color: rgba(0, 0, 0, 0.48);
    --popup-outer-shadow-color: rgba(0, 0, 0, 0.16);

    --tool-icon-border-color: #444;
    --tool-icon-color: #666;
    --tool-icon-text-color: #666;

    --chapter-border-color: #444;
    --chapter-color: #666;

    --poper_arrow_color: unset;
}

html[data-theme='light'] {
    @include colors;
}

@media (prefers-color-scheme: light) {
    html[data-theme='auto'] {
        @include colors;
    }
}